<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Run04.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{28,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,0},{28,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,33},{27,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run05.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,66},{27,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{25,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,99},{25,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run08.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{28,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,132},{28,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{25,99},{27,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run07.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{27,33},{27,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run06.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{28,0},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Run.png</string>
      <key>size</key>
      <string>{54,164}</string>
      <key>textureFileName</key>
      <string>Run.png</string>
    </dict>
  </dict>
</plist>
