<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Slide01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{37,38}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Slide02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{37,38}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,38},{37,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Slide03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{36,38}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,76},{36,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Slide.png</string>
      <key>size</key>
      <string>{37,114}</string>
      <key>textureFileName</key>
      <string>Slide.png</string>
    </dict>
  </dict>
</plist>
