<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Push03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,39}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Slide01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{37,38}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,39},{37,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Slide02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{37,38}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{27,0},{37,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Slide03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{36,38}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,77},{36,38}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Push02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,37}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,115},{27,37}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Push04.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,37}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,152},{27,37}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run04.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{28,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,189},{28,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Jump Animatons1.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{27,115},{27,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{36,77},{27,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run05.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{54,38},{27,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{25,33}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{64,0},{25,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Jump Animatons2.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{27,148},{30,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Jump Animatons5.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{54,110},{30,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run08.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{28,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{63,71},{28,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Jump Animatons6.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{84,33},{27,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Push01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{91,0},{27,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{111,32},{27,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run07.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{27,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{118,0},{27,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Run06.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,222},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Jump Animatons3.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,31}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{0,254},{30,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Jump Animatons4.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{30,31}</string>
        <key>spriteSourceSize</key>
        <string>{40,40}</string>
        <key>textureRect</key>
        <string>{{25,222},{30,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>playerMovement.png</string>
      <key>size</key>
      <string>{145,285}</string>
      <key>textureFileName</key>
      <string>playerMovement.png</string>
    </dict>
  </dict>
</plist>
