<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>C 01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{0,0},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{0,1080},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{0,2160},{390,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>C 04.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{0,2550},{390,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>C 05.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{1080,0},{390,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>C 06.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{390,0},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 07.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{390,1080},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 08.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{2160,0},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 09.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{780,1080},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 10.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{2550,0},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 11.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{780,390},{390,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>C 12.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{1080,2160},{390,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>C 13.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{1170,1080},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 14.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{1560,1080},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 15.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{1950,1080},{390,1080}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>C 16.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{390,1080}</string>
        <key>spriteSourceSize</key>
        <string>{428,1080}</string>
        <key>textureRect</key>
        <string>{{1080,2550},{390,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2940,2940}</string>
      <key>textureFileName</key>
      <string>texture.png</string>
    </dict>
  </dict>
</plist>
