<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Bat01.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,18}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{0,0},{48,18}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat07.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,18}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{48,0},{48,18}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat06.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,18}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{96,0},{46,18}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat02.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{44,24}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{142,0},{44,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat03.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{38,28}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{0,18},{38,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat05.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,18}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{0,0},{48,18}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat04.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{44,24}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{142,0},{44,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>Bat08.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{46,18}</string>
        <key>spriteSourceSize</key>
        <string>{200,200}</string>
        <key>textureRect</key>
        <string>{{96,0},{46,18}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bats.png</string>
      <key>size</key>
      <string>{186,46}</string>
      <key>textureFileName</key>
      <string>bats.png</string>
    </dict>
  </dict>
</plist>
