<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>frame0000.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{0,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{0,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{1080,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{1080,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{2160,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{2160,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{3240,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0014.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{3240,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0016.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{4320,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0018.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{4320,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0020.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{5400,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0022.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{5400,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0024.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{6480,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0026.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{6480,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0028.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{7560,0},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
      <key>frame0030.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{1920,1080}</string>
        <key>spriteSourceSize</key>
        <string>{1920,1080}</string>
        <key>textureRect</key>
        <string>{{7560,1920},{1920,1080}}</string>
        <key>textureRotated</key>
        <true/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{16384,4096}</string>
      <key>textureFileName</key>
      <string>texture.png</string>
    </dict>
  </dict>
</plist>
